

.text{
    color: white;
}
.link{
    color: white;    
}
.footer{
    background: #0d7cb2;
    position: fixed;
    width: 100%;
    bottom: 0;
    margin: 0;
    height: 35px;
    line-height: 35px;
}
