<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="#">
                MaxPoints Logo
            </a>
        </li>
        <li>
            <a href="#">Dashboard</a>
        </li>
        <li>
            <a href="#">Travel Report</a>
        </li>
        <li>
            <a href="#">Settings</a>
        </li>
        <li>
            <a href="#">Logout</a>
        </li>
    </ul>
</div>

<!-- <nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start">
    <div class="collapse navbar-collapse">
        <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div [ngbCollapse]="isNavbarCollapsed" class="navbar-collapse">
            <a class="nav-item nav-link active text-white">
                Your Action Plan
            </a>
            <a class="nav-item nav-link active text-white">
                Book Travel
            </a>
            <a class="nav-item nav-link active text-white">
                Spending Report
            </a>
            <a class="nav-item nav-link active text-white">
                Settings
            </a>
            <a class="nav-item nav-link active text-white">
                Logout
            </a>
        </div>
    </div>
</nav> -->


<!-- 
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <span class="navbar-brand mb-0 h1">Partes vehículos</span>
        <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed">
          <span class="navbar-toggler-icon"></span>
      </button>
        <div [ngbCollapse]="isNavbarCollapsed" class="navbar-collapse">
            <a class="nav-item nav-link active text-white">
                Usuario: My name
            </a>
            <a class="nav-item nav-link active text-white">
                Perfil: TODO
            </a>
            <button class="nav-item btn btn-outline-warning ml-3 mr-3">Más opciones</button>
            <a class="nav-item nav-link active text-white" routerLink="/" (click)="logout()">
                Salir
                <span class="sr-only">(current)</span>
            </a>
        </div>
    </nav> -->


<!-- Sidebar Navigation -->
<!-- <div class="row">
    <div class="nav-side-menu">
        <div class="brand">
            <img src="./assets/images/maxPointsLogoNew.png" alt="Max Points" style="max-height: 120px; padding: 20px;">
        </div>
        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
        <div class="menu-list col-xs-12">
            <ul id="menu-content" class="menu-content collapse out">
                <li (click)="changeView('travelReport')">
                    <a> -->
<!-- <i class="fa fa-plane fa-lg"></i>  -->
<!-- Your Action Plan
                    </a>
                </li>
                <li (click)="changeView('redeem')">
                    <a> -->
<!-- <i class="fa fa-dashboard fa-lg"></i>  -->
<!-- Book Travel
                    </a>
                </li> -->
<!-- <li (click)="changeView('spendingReport')">
                    <a>
                        <i class="fa fa-money fa-lg"></i> 
                        Spending Report
                    </a>
                </li> -->
<!-- <li (click)="changeView('settings')">
                    <a> -->
<!-- <i class="fa fa-gear fa-lg"></i>  -->
<!-- Settings
                    </a>
                </li>
                <li (click)="changeView('logout')">
                    <a> -->
<!-- <i class="fa fa-gear fa-lg"></i> -->
<!-- Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div> -->
<!-- End Sidebar Navigation -->