<div class="container-fluid">
    <div id="wrapper" [ngClass.gt-sm]="{'toggled': !isHidden }" [ngClass]="{'toggled': isHidden }">
        <div id="sidebar-wrapper">
            <div class="sidebar-brand">
                <img src="./assets/images/maxPointsLogoNew.png" alt="Max Points">
            </div>
            <ul class="sidebar-nav">
                <li (click)="changeView('travelReport')">
                    <a>Your Action Plan</a>
                </li>
                <li (click)="changeView('redeem')">
                    <a>Travel Report</a>
                </li>
                <li (click)="changeView('settings')">
                    <a>Settings</a>
                </li>
                <li>
                    <div>
                        <a (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">Search Credit Cards
                            <i class="material-icons arrows" *ngIf="isCollapsed">keyboard_arrow_down</i>
                            <i class="material-icons arrows" *ngIf="!isCollapsed">keyboard_arrow_up</i>
                        </a>
                    </div>
                    <div>
                        <ul id="collapseExample" [ngbCollapse]="isCollapsed">
                            <li>
                                <a href="https://oc.brcclx.com/t/?lid=26556544&cr=19810&last_updated=1474577308" target="_blank">Travel Cards</a>
                            </li>
                            <li>
                                <a href="https://oc.brcclx.com/t/?lid=26557648&cr=19820&last_updated=1474577938" target="_blank">No Annual Fee Cards</a>
                            </li>
                            <li>
                                <a href="https://oc.brcclx.com/t/?lid=26554929&cr=19308&last_updated=1464040669" target="_blank">Cash Back Cards</a>
                            </li>
                            <li>
                                <a href="https://oc.brcclx.com/t/?lid=26556668&cr=19831&last_updated=1474578720" target="_blank">Business Cards</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li (click)="changeView('logout')">
                    <a>Logout</a>
                </li>
            </ul>
        </div>

        <!-- Page Content -->
        <div class="col-12">
            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <i class="material-icons" (click)="isHidden = !isHidden;">menu</i>
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
</div>

<!-- Can add the below later for having a sidenave dropdown. Need to work with something like jQuery I think -->
<!-- <li data-toggle="collapse" data-target="#cards" class="collapsed active">
        <a href="#"> UI Elements
            <span class="arrow"></span>
        </a>
    </li>
    <ul class="sub-menu collapse" id="cards">
        <li class="active">
            <a href="#">CSS3 Animation</a>
        </li>
        <li>
            <a href="#">General</a>
        </li>
        <li>
            <a href="#">Buttons</a>
        </li>
        <li>
            <a href="#">Tabs & Accordions</a>
        </li>
        <li>
            <a href="#">Typography</a>
        </li>
    </ul> -->

<!-- <div class="row">
    <div class="col-md-12">
        <div class="col-md-3">
            <sidebar></sidebar>
        </div>
        <div class="col-md-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div> -->
<!-- End Main Content -->

<!-- End Dashboard HTML -->