<!-- Start Dashboard HTML -->

<!-- Main Content -->
<header></header>
<div class="row">
    <div class="wrapper">
        <div class="col-3 sidebar">
            <sidebar></sidebar>
        </div>
        <div class="col-9 content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<footer></footer>



<!-- <div class="row">
    <div class="col-md-12">
        <div class="col-md-3">
            <sidebar></sidebar>
        </div>
        <div class="col-md-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div> -->
<!-- End Main Content -->

<!-- End Dashboard HTML -->