<!-- Start Dashboard HTML -->

<!-- Main Content -->

<!-- Start Redeem Tab -->
<div class="container-fluid">
  <div class="col-12 text-center">
    <h2>Book Travel</h2>
  </div>
  <!-- <div [ngClass.xs]="'first'" [ngClass.md]="'second'">TESTING CLASSES</div> -->
  <div fxHide fxShow.gt-sm >
    <iframe id="bookTravel" src="https://maxpoints.typeform.com/to/ZNKYFf"></iframe>
  </div>
  <div fxShow fxHide.gt-sm>
      <a class="btn btn-primary btn-block" href="https://maxpoints.typeform.com/to/ZNKYFf" target="_blank">Click to Complete Form</a>
  </div>
</div>
<!-- This will be a Clickdata embed -->
<!-- <iframe style="border:none;" width="100%" height="700px" src="https://maxpoints.clicdata.com/v/7vSDmZJ66uqX"></iframe> -->

<!-- <iframe src="https://maxpoints.typeform.com/to/ZNKYFf" style="width:100%;height:85vh;" frameborder="0"></iframe> -->


<!-- End Redeem Tab -->

<!-- End Dashboard HTML -->