<!-- Start Dashboard HTML -->

<!-- Main Content -->

<!-- Start Your Action Plan Tab -->
<div class="container main">

  <div class="col-md-12 text-center" *ngIf="userStates?.reportCreated && !userStates?.callUsed">
    <div fxHide fxShow.gt-sm>
      <h2>Schedule Your One-Time Phone Consultation</h2>
    </div>
    <div fxShow fxHide.gt-sm>
      <h4>Schedule Your One-Time Phone Consultation</h4>
    </div>
    <button type="button" class="btn btn-primary btn-lg" (click)="gotoCalendly()" target="_blank">Schedule Now</button>
    <hr/>
  </div>

  <div class="col-md-12 text-center" *ngIf="!userStates?.reportCreated">
    <div fxHide fxShow.gt-sm>
      <h2>Your Rewards Goals</h2>
    </div>
    <div fxShow fxHide.gt-sm>
      <h4>Your Rewards Goals</h4>
    </div>
    <div fxHide fxShow.gt-sm>
      <iframe class="travelForm" src="https://maxpoints.typeform.com/to/ut6YzL" frameborder="0"></iframe>
    </div>
    <div fxShow fxHide.gt-sm>
      <a class="btn btn-primary btn-block" href="https://maxpoints.typeform.com/to/ut6YzL" target="_blank">Complete Form</a>
    </div>
  </div>

  <div class="col-md-12 text-center" *ngIf="userStates?.reportCreated">
    <div fxHide fxShow.gt-sm>
      <h2>Your Action Plan</h2>
    </div>
    <div fxShow fxHide.gt-sm>
      <h4>Your Action Plan</h4>
    </div>
    <div fxHide fxShow.gt-sm>
      <iframe [src]="url" style="width:100%;height:80vh;" frameborder="0"></iframe>
    </div>
    <div fxShow fxHide.gt-sm>
      <a class="btn btn-primary btn-block" href="{{urlString}}" target="_blank">View Your Report</a>
    </div>
  </div>
</div>
<!-- End Your Action Plan Tab -->


<!-- End Main Content -->

<!-- End Dashboard HTML -->